* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GLOBAL styles
.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

// HEADER nav stlyes
.nav-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 10px 15px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
  }
}

// HERO styles
.hero-container {
  position: relative;
  img {
    width: 100%;
    max-width: 2000px;
    height: 300px; //set the height to 400px @ 768px, 500px @ 1024px and larger
    object-fit: cover;
  }

  p {
    background-color: rgba(0, 0, 0, 0.672);
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.772);
    border-radius: 2px 20px 2px 20px;
    padding: 8px 10px;
  }
}

// BLOG CARD styles
.blogs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    cursor: pointer;
    text-decoration: none;
    color: #303034;
  }

  .blog-post {
    border: 2px solid rgba(128, 128, 128, 0.39);
    width: 300px;
    margin: 1em;
    box-sizing: inherit;

    img {
      width: 100%;
    }

    .blog-content {
      padding: 20px 25px;
      border: 1px solid #e8e8e8;
      border-top: none;

      .blog-title {
        margin: 5px 0;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.9px;
        color: #303034;
      }
      .read-more {
        margin-top: 15px;
        border-bottom: 2px solid #303034;

        &:hover {
          background-color: #e29c1a;
          border-bottom: 2px solid #e29c1a;
        }
      }

      .blog-date {
        font-size: 0.7em;
        color: #3030349a;
        margin-left: 5px;
      }
    }
  }
}

// BLOG Post page styles
.post-container {
  margin-top: 1em;
}

// FOOTER styles
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px 0;

  .quote-container {
    max-width: 400px;
    margin: 8px auto;
  }
  .quote {
    font-size: 1em;
  }

  .quote-author {
    font-size: 1.1em;
    text-align: right;
    margin-top: 5px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
